
.infoBasica{
position: absolute;
height: 40px;
left: 450px;
top: 165px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 120%;
/* or 43px */


/* Gray 2 */

color: #4F4F4F;
}

.titulo1{
position: absolute;
width: 951px;
height: 36px;
left: 60px;
top: 22px;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* identical to box height, or 120% */

letter-spacing: -0.015em;

/* Gray 2 */

color: #4F4F4F;
}

.titulo2{
 position: absolute;
width: 951px;
height: 36px;
left: 60px;
top: 80px;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

letter-spacing: -0.015em;
text-decoration-line: underline;

/* Gray 2 */

color: #4F4F4F;
}

.rectangulo{
position: absolute;
width: 1064px;
height: 758px;
left: 450px;
top: 228px;
border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

form{
    display: flex;
}

input{
    display: flex;
    width: 457px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 1%;
}

.grupo1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 60px;
    top: 160px;

}

.grupo1-1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 108px;
    top: 160px;
    
}

.selectEstado{
    position: absolute;
    top: 40%;
    left: 30%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.titulo3{
    position: absolute;
width: 951px;
height: 36px;
left: 60px;
top: 300px;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

letter-spacing: -0.015em;
text-decoration-line: underline;

/* Gray 2 */

color: #4F4F4F;
}
.grupo2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: -855px;
    top: 390px;
}
.grupo2-2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: -807px;
    top: 390px;
}

.grupo3{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: -1771px;
    top: 550px;
}
.grupo3-3{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: -1724px;
    top: 550px;
}

.contenedorFinal{
    display: flex;
    position: absolute;
width: 1068px;
height: 174px;
left: 450px;
top: 1016px;

border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

.titulo4{
    position: absolute;
width: 951px;
height: 36px;
left: 5%;
top: 5%;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* identical to box height, or 120% */

letter-spacing: -0.015em;

/* Gray 2 */

color: #4F4F4F;
}

.botonGuardar{
    position: absolute;
    width: 15%;
left: 860px;
right: 0%;
top: 91%;
bottom: 4%;

/* Green 2 */

background: #27AE60;
border-radius: 10px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}


.titulo4-4{

    position: absolute;
left: 7%;
top: -2%;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */

display: flex;
align-items: center;
text-align: center;

/* Gray 2 */

color: #4F4F4F;

}

.contenedor4-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 9px;
    position: absolute;
    left: 5.4%;
    right: 73.57%;
    width: 20%;
    top: 46.34%;
    bottom: 28.01%;
    background: #FCD545;
    border-radius: 5px;
}

.contenedor4-5{
    display: flex;
flex-direction: row;
align-items: center;
padding: 4px 9px;

position: absolute;
left: 30.4%;
right: 60.57%;
width: 20%;
top: 46.34%;
bottom: 28.01%;
/* Color D03 */

background: #FCD545;
border-radius: 5px;
}

.titulo4-5{
display: flex;

position: absolute;
left: 17%;
top: -2%;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */

display: flex;
align-items: center;
text-align: center;

/* Gray 2 */

color: #4F4F4F;
}
/*.input1{
    position: absolute;
    width: 457px;
    height: 40px;
    left: 399px;
    top: 371px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
}

.input2{
    position: absolute;
    width: 457px;
    height: 40px;
    left: 399px;
    top: 435px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
}

.input3{
    position: absolute;
width: 457px;
height: 40px;
left: 399px;
top: 499px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 10px;
}

.input4{
    position: absolute;
width: 456px;
height: 40px;
left: 894px;
top: 371px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 10px;
}*/