.container1 {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    background-color: white;
    width: 100%;
    height: 13%;
}

.logo2{
position: absolute;
width: 10%;
height: 40px;
left:40%;
top: 15px;
}

.logo1{
    position: absolute;
    width: 10%;
    left: 2%;
    top: 17%;
}

.logo3{
    position: absolute;
    width: 10%;
    height: 40px;
    left: 77%;
    top: 18%;
}

@media (max-width: 700px){
    .container1{
        width: 100%;
        height: 18%;
    }
    .logo1{
        position: absolute;
        height: 17px;
        left: 37px;
        top: 22px;
    }
    .logo2{
        position: absolute;
width: 238.06px;
height: 40px;
left: 752px;
top: 15px;
    }
    .logo3{
        position: absolute;
width: 238.06px;
height: 40px;
left: 752px;
top: 15px;
    }
}
