.select-box--container{
    border: none;
    height: 35%;
    margin: 0;
    padding: 0;
    font-family: Nunito;
    color: #6f6f6fb9;
}

.select-box--selected-item{
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 4px 12px;
  vertical-align: middle;
}

.select-box--box{
  position: absolute;
  left: 2%;
  top: 50%;
  background-color: white ;
  border: none;
  border-radius: 5px;
}
.select-box--items div{
    background-color: white ;
    padding: 6px;
    padding-left: 10% ;
    font-family: Nunito;
    color: #6f6f6fb9;
}

.select-box--items{
    position: absolute;
    top: 130%;
    width: 100%;
    height: 650%;
    z-index: 100;
    overflow: scroll;
}

.select-box--arrow{
    width: 15%;
    height: 10%;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #333333 ;
    background-color:white ;
    border-radius:5px ;
    position: absolute;
    right: 0;
    top: 0;
}

.select-box--arrow-down{
    position: absolute;
    top: 12px;
    left: 7px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #333333;
}

.select-box--arrow-up{
    position: absolute;
    top: 10px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #333333 ;
}